{% extends 'dosColumnasLogin.html.twig' %}

{% block content %}
    
          <div class="col-md-3">{% block menu %}{% endblock %}</div>
          <div class="col-md-9">{% block body %}{% endblock %}</div>
    
{% endblock %}